@import url("https://fonts.googleapis.com/css2?family=Changa:wght@300;400;500&display=swap");

// fonts
$changa: "Changa", sans-serif;

// colors
$color-primary: orange;
$color-font-bright: #d1d1d1;
$color-bg-dark: #212121;
