@import url("https://fonts.googleapis.com/css2?family=Changa:wght@300;400;500&display=swap");

// fonts
$changa: "Changa", sans-serif;

// colors
$color-primary: #f0932b;
$color-font-bright: #d1d1d1;
$color-bg-dark: #212121;
$color-correct: #4fee4f;
$color-wrong: #cc3333;

// border
$border-radius: 0.5rem;
