@import "default";
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@300;400;500&display=swap");

body {
  background-color: $color-bg-dark;
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: $changa;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

#wrapper {
  color: $color-font-bright;
  width: 820px;
  height: 500px;

  display: none;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 0;
    min-height: 10rem;
    font-size: 3rem;

    display: flex;
    align-items: center;
    text-align: center;
    line-height: 3rem;
  }

  .containerAnswerButtons {
    width: 52rem;

    display: flex;
    text-align: center;
    flex-wrap: wrap;

    .button {
      width: 25rem;
      height: 5rem;
      font-size: 2.5rem;
      background-color: $color-primary;
      border: 5px solid $color-primary;
      border-radius: $border-radius;
      margin: 0.5rem;
      color: $color-bg-dark;
      transition: 0.1s;
      cursor: pointer;

      &:hover {
        transform: scale(1.02);
        border: 5px solid $color-primary;
        background-color: $color-bg-dark;
        color: $color-font-bright;
      }
    }
    .correct {
      background-color: $color-correct;
      border: 5px solid $color-correct;

      &:hover {
        background-color: $color-correct;
        border: 5px solid $color-correct;
        // color: $color-bg-dark;
      }
    }

    .wrong {
      background-color: $color-wrong;
      border: 5px solid $color-wrong;

      &:hover {
        background-color: $color-wrong;
        border: 5px solid $color-wrong;
      }
    }
  }

  .containerNavButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;

    .navButtons {
      display: flex;
      gap: 0.5rem;

      .navButton {
        width: 10rem;
        height: 3rem;
        border: 3px solid $color-primary;
        border-radius: $border-radius;
        font-size: 1.3rem;

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
          background-color: $color-primary;
          color: $color-bg-dark;
        }
      }
    }

    #points {
      width: 11rem;
      background-color: $color-primary;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.3rem;

      border-radius: $border-radius;
      color: $color-bg-dark;
      cursor: default;
    }
  }
}

#overlayContainer {
  position: fixed;

  .overlay {
    width: 820px;
    height: 500px;
    padding: 2rem;

    background-color: $color-primary;
    border-radius: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 2.2rem;
    font-weight: bold;
  }

  .button {
    width: 12rem;
    background-color: $color-bg-dark;
    color: $color-primary;
    text-align: center;
    border: 3px solid $color-primary;
    border-radius: 0.5rem;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      background-color: $color-primary;
      color: $color-bg-dark;
      border: 3px solid $color-bg-dark;
    }
  }

  .hidden {
    display: none;
  }

  p {
    text-align: center;
  }
}
