@import "default";
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@300;400;500&display=swap");

body {
  background-color: $color-bg-dark;
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: $changa;
  box-sizing: border-box;
}

.wrapper {
  color: $color-font-bright;
  width: 1000px;
  height: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 3rem;
    text-align: center;
  }

  .container {
    width: 52rem;

    display: flex;
    text-align: center;
    flex-wrap: wrap;

    .button {
      width: 25rem;
      height: 5rem;
      font-size: 2.5rem;
      background-color: $color-primary;
      border: 5px solid $color-primary;
      border-radius: $border-radius;
      margin: 0.5rem;
      color: $color-bg-dark;
      transition: 0.1s;
      cursor: pointer;

      &:hover {
        transform: scale(1.02);
        border: 5px solid $color-primary;
        background-color: $color-bg-dark;
        color: $color-font-bright;
      }
    }
  }

  .containerButtons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    // background-color: red;
    margin-top: 3rem;

    .navButtons {
      display: flex;

      gap: 0.5rem;

      .navButton {
        width: 10rem;
        height: 3rem;
        border: 3px solid $color-primary;
        border-radius: $border-radius;
        font-size: 1.1rem;

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
          background-color: $color-primary;
          color: $color-bg-dark;
        }
      }
    }

    #points {
      width: 6rem;
      background-color: $color-primary;
      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: $border-radius;
      color: $color-bg-dark;
    }
  }
}
